sudo: false

language: java

jdk:
  - oraclejdk8

cache:
  directories:
    - $HOME/.m2

before_install:
  - mvn clean -q

install:
  - mvn install -Dgpg.skip=true

script:
  - mvn cobertura:cobertura


after_success:
  - bash <(curl -s https://codecov.io/bash)
